*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    background-color: maroon;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

#main-title {
    color: white;
}

#favorites {
    text-decoration: none;
    color: white;
}

#secondary-title {
    text-align: center;
    margin: 50px 0;
}

#form-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
}

#textarea-recipe-details {
    width: 500px;
    height: 250px;
}

#div-search {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

#search-dish {

}

#category-dish {

}

